# Servidor Express
PORT=5000
NODE_ENV=development

# Base de Datos PostgreSQL
DATABASE_URL=postgresql://remesas_user:remesas_password@sg_remesas_postgres:5432/sg_remesas_db

# Seguridad
JWT_SECRET=tu_secreto_super_seguro_para_jwt_remesas_2026
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=tu_secreto_super_seguro_para_refresh_token_remesas_2026
JWT_REFRESH_EXPIRATION=7d

# Google OAuth 2.0
GOOGLE_CLIENT_ID=google_client_id_placeholder
GOOGLE_CLIENT_SECRET=google_client_secret_placeholder
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# Frontend Origin URL
FRONTEND_URL=http://localhost:5173

# Correo (Opcional - Si se deja en blanco se usará Ethereal temporal automático)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@sgremesas.com
